<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Banking">

	
<listeners>
		<listener class-name="Utilities.Reporting" />
	</listeners>

	<test name="BankingApp Test">
		<parameter name="browser" value="edge" />
		<classes>
			  <class name="TestCases.EditCustTC" /> 
		   <!-- <class name="TestCases.LoginTCDDT" /> -->
		   <!-- <class name="TestCases.AddCustTC"/> -->

		</classes>

	</test>

</suite>